.ant-card-type-single {
  &.cover{
    display: flex;
    min-height: rem-calc(200);
    flex-direction: row;
    &.row{
      flex-direction: row;
      align-items: center;
      justify-items: flex-start;
    }
    .ant-card-body {
      // display: flex;
      // width: 100%;
      // justify-content: space-between;
      // align-items: center;
      min-height: rem-calc(130);
      .ant-typography{
        font-size: rem-calc(20);
        // margin: rem-calc(40);
      }
    }
  }
  
}
