.ant-typography {
  font-size: rem-calc(14);
  color: unset;

  // + h1,
  // + h2,
  // + h3,
  // + h4,
  // p,
  // span {
  //   &.ant-typography {
  //     color: unset;
  //     margin: 0;
  //     margin-top: 0;
  //     margin-bottom: 0;
  //     font-weight: 500;
  //     font-style: normal;
  //     font-stretch: normal;
  //     &-large {
  //       margin-top: rem-calc(10);
  //       margin-bottom: rem-calc(11);
  //       font-size: rem-calc(22);

  //       & h1{
  //         background-color: red;
  //       }
  //     }
  //   }
  // }

  &-small {
    color: unset;
    &.ant-typography {
      font-size: rem-calc(12);
      color: unset;
      // font-size: rem-calc(20);
    }
  }
  &-large {
    &.ant-typography {
      color: unset;
      font-size: rem-calc(20);
    }
  }
  &-display {
    &-label {
      font-size: rem-calc(9);
      color: #bcc3c6;
    }
    &-text {
      margin: rem-calc(3) 0;
      color: #384b54;
      font-size: rem-calc(10);
      display: flex;
      flex-direction: row;
      .ant-tag {
        color: unset;
        margin-top: rem-calc(5);
        border-color: #384b54;
      }
    }
  }

  &-table {
    &-label {
      color: #bcc3c6;
      font-size: rem-calc(12);
    }
  }
  &-sidebar {
    &-text {
      font-size: rem-calc(10);
      color: unset;
    }
    &-item-title {
      font-size: rem-calc(10);
      color: unset;
      font-weight: 500;
      width: 100%;
    }
  }

  &-modal {
    &-text {
      display: flex;
      align-items: center;
      font-size: rem-calc(16);
    }
    &-label {
      font-size: rem-calc(9);
    }
  }
  &-single-card {
    &-text {
      // width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 125%;
      font-size: rem-calc(16);
      // background-color: red;

      &.normal{
        // width:100%; 
        @include for-lg (){
          // width: auto; 
        }
      }
      @include for-xl (){
        font-size: rem-calc(20);

      }

      &.small {
        font-size: rem-calc(12);
      }
      &.large {
        font-size: rem-calc(40);
        margin: rem-calc(15) 0;
      }
      &.xlarge {
        font-size: rem-calc(40);
        .anticon {
          font-size: rem-calc(25);
        }
        @include for-lg (){
          font-size: rem-calc(60);
          .anticon {
            font-size: rem-calc(30);
          }
        }
      }
    }
  }

  &-list {
    &-text {
      font-size: rem-calc(12);
      color: #ffffff;
    }
    &-label {
      color: #ffffff;
      font-size: rem-calc(9);
    }
  }
}

h1.ant-typography,
.ant-typography h1 {
  &.ant-typography {
    &-sidebar-title {
      font-size: rem-calc(9);
      margin: rem-calc(15) rem-calc(10);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include for-lg (){
        font-size: rem-calc(12);
      }
      @include for-xl (){
        font-size: rem-calc(16);
        white-space: normal;
        margin: rem-calc(25) rem-calc(40) rem-calc(25) rem-calc(20);
      }
    }
  }
}
// ant-typography ant-typography-sidebar-title
